body {
  background-image: url("./components/data/star-wars.jpeg");
  /* opacity: 0.8; */
}

.App {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 2rem;
}
.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header {
  color: yellow;
  text-align: center;
  font-size: 6rem;
}

.header img {
  height: 80px;
  width: auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.char-card {
  background: white;
  opacity: 0.8;
  margin: 1rem;
  padding: 1rem;
  width: 45%;
  border-radius: 0.5rem;
}

.char-card:hover {
  transform: scaleY(1.1);
  transform: scaleX(1.01);
  transform-origin: bottom;
  opacity: 0.92;
  transition: all 0.1s linear;
}

a {
  color: white;
}
